{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
<h1>User Profile</h1>

<h2>Received Friend Requests</h2>
<ul>
    {% for request in receivedRequests %}
        <li>
            {{ request.fromUser.username }} 
            <a href="{{ path('accept_friend_request', {'id': request.id}) }}">Accept</a> | 
            <a href="{{ path('decline_friend_request', {'id': request.id}) }}">Decline</a>
        </li>
    {% else %}
        <li>No friend requests</li>
    {% endfor %}
</ul>

{% endblock %}
