{# templates/game/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}My Games{% endblock %}

{% block body %}
    <h1>My Games</h1>

    <a href="{{ path('game_new') }}" class="btn btn-success mb-3">Create New Game</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Thumbnail</th>
               
::contentReference[oaicite:0]{index=0}
 
