{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {% for message in app.flashes('error') %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}

    <form action="{{ path('user_change_password') }}" method="POST">
        <label>Old Password:</label>
        <input type="password" name="old_password" required>

        <label>New Password:</label>
        <input type="password" name="new_password" required>

        <button type="submit">Update Password</button>
    </form>
{% endblock %}
