{% extends 'base.html.twig' %}

{% block title %}Search Users{% endblock %}

{% block body %}
<h1>Search Users</h1>

<form method="get" action="{{ path('user_search') }}">
    <input type="text" name="q" placeholder="Search by username or email" value="{{ query }}">
    <button type="submit">Search</button>
</form>

{% if users is not empty %}
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
                <a href="{{ path('send_friend_request', {'id': user.id}) }}">Send Friend Request</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users found.</p>
{% endif %}
{% endblock %}
